.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.tarea-card {
  background: #e0e0e0; /* Hacemos el fondo un poco más oscuro */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  position: relative;
  transition: background 0.3s ease; /* Añadimos una transición suave para el hover */
  text-align: center;
}

.tarea-card:hover {
  background: #d0d0d0; /* Fondo aún más oscuro al hacer hover */
}

.card-actions{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.todo-item h3 {
  margin: 0 0 8px;
}

.todo-item p {
  margin: 0 0 16px;
}

button {
  margin: 0 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}